body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    transition: background-color 0.3s, transform 0.3s;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.project {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Ajusta la sombra aquí */
    backdrop-filter: blur(10px); /* Ajusta el nivel de desenfoque aquí */
    border-radius: 8px; /* Opcional: bordes redondeados */
}
.project:hover{
    background-color: rgb(214, 213, 213);
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position:static;
    bottom: 0;
    width: 100%;
}

footer a:hover {
    color: white;
}

footer a{
    color: white;
}

footer i {
    font-size: 40px;
    margin-right: 10px; 
    transition: transform 0.3s;
    color: white;
}

footer i:hover {
    transform: scale(1.10);
}

p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 450;
}

.icono-grande
{
    font-size: 36px;
}

form {
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: grey;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: black;
}

i:hover{
    transform: scale(1.10);
}

#responseMessage {
    margin-top: 15px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease; 
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display:contents;
    opacity: 1;
}

.main-content {
    height: calc(100vh - (altura del header + altura del footer)); /* Ajusta la altura */
    background: linear-gradient(800deg, #6d534e, #7da138, #4b60be);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    position: relative; /* Para asegurar que se ajuste a la altura especificada */
    z-index: 0; /* Asegúrate de que esté detrás del header y footer */
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-group {
    width: 45%; /* Ajusta el ancho según sea necesario */
}